*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


body{
    overflow-x: visible;
}

/* Changing Header Script*/
#top-script{
    height: 40px;
    background-color: #15234C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #D5D7DF;
    font-size:  0.9rem;
}



/* Responsive Navigation Bar*/

header{
    position: fixed;
    width: fit-content;
    z-index: 9;
}

#navigation{
    height: 70px;
    width: fit-content;
    min-height: min-content;
    background-color: #FFFFFF;
    border: 1px solid black;
}

#nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100vw;
    min-width: fit-content;
}

#nav-list li{
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-list li:first-child{
    margin-left: 50px;
}

a{
    text-decoration: none;
    color: black;
}


.left-item, .right-item{
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: bolder;
    font-stretch: condensed;
}

#nav-list .left-item:nth-child(n){
    padding: 15px;
}

.icon{
    flex-grow: 1;
}

.icon img{
    margin: auto;
    display: block;
}

#nav-list .right-item:nth-child(n){
    border: 0.5px solid rgba(167, 163, 163, 0.548);
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

#nav-list .right-item:nth-child(n){
    padding: 25px;
}

.create-card{
    background-color: #F9B735;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
}

.create-card:hover{
    background-color: #15234C;
    color: #F9B735;
}

.fa-user, .fa-shopping-cart{
    font-size: 17px;
}

#flag img, .flags-drop-menu img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#flag-after{
    content:  '';
    display: block;
    width: 6.5px;
    height: 6.5px;
    border: 1.3px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotateZ(45deg);
    margin-left: 13px;
}

#nav-list li:hover{
    cursor: pointer;
}

.icon img:hover{
    cursor: pointer;
}

.icon{
    cursor: default !important;
}

.left-item:hover{
    text-decoration: underline;
}



/* flag drop down */

#flag{
    position: relative;
}

#flags-drop-down{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    justify-content: center;
    left: -0.5px;
}

#flags-drop-down div:nth-child(n){
    padding: 34.6px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: 0.5px solid rgba(167, 163, 163, 0.548);
}

#flags-drop-down div:nth-child(n):hover{
    background-color: #F8F9FA;
}




/* animate hader as fade in on page load */
header{
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* fade in animation ends here */




/* handle the contents of the page */

#first-content{
    background-image: url(//cdn.shopify.com/s/files/1/2412/8291/files/home-top-banner-bg_83b39adc-d83d-448a-abfc-d1c2809541e7.jpg?v=1582201084);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-position: top  center;
    width: 100vw;
    height: 100vh;
}

#main-container{
    position: relative;
    top: 110px;
}

#hamburger-content{
    display: none;
}


/* make navigation bar responsive */

#hamburger-menu{
    display: none;
}



@media (max-width : 786px){
    
    #top-script{
        font-size: 10px;
    }
    

    #main-container{
        top: 135px;
    }

    .icon img{
        width: 100px;
    }

    #navigation .left-item, #navigation .create-card{
        display: none;
    }

    #hamburger-menu{
        display: block;
        width: 70px;
        height: 100%;
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .dash{
        background-color: #404040;
        height: 3px;
        width: 40%;
        border-radius: 15%;
        margin-bottom: 10%;
    }

    #hamburger-menu .dash:first-child{
        margin-top: calc(50% - 15px);
    }

    #flag{
        order: -1;
        border: 0.5px solid rgba(167, 163, 163, 0.548) !important;
    }

    #flag-after{
        display: none;
    }

    #flags-drop-down{
        width: 71.2px;
        align-items: center;
    }

    #flags-drop-down div:nth-child(n) {
        padding: 20px 25px;
    }

    #hamburger-content{
        display: flex;
        flex-direction: column;
        align-content: center;
        position: fixed;
        top: 135px;
        width: 100vw;
        height: calc(100vw - 135px);
        background-color: #FFFFFF;
    }

    #hamburger-content li, #hamburger-content a{
        color: #6a7594 !important;
        font-weight: bolder;
        letter-spacing: -0.5px;
    }

    #hamburger-content li{
        font-size: 12px;
        width: 100%;
        height: 70px;
        border-bottom: 0.5px solid rgba(167, 163, 163, 0.548) !important;
        display: flex;
        justify-content: center;
    }

    #hamburger-content li:first-child{
        margin: 0;
    }

    /* add animations to hamburger icon */
    .dash:nth-child(1){
        /*animation-name: dash-top; */
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
    }

    .dash:nth-child(2){
        /*animation-name: dash-middle; */
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
    }

    .dash:nth-child(3){
        /*animation-name: dash-bottom;*/
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
    }


    /* add animation to hamburger menu container */

    #hamburger-content{
        left: 100%;
        transition: none;
        /*animation-name: slide-in; */
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
    }

    #main-container{
        transition: left 0.5s;
        left: 0;
    }

    body{
        transition: background-color 0.5s;
    }

}



    /* hamburger menu animations */
    @keyframes dash-top-in{
        to{
            transform: rotateZ(45deg);
            transform-origin: left;
        }
    }

    @keyframes dash-bottom-in{
        to{
            transform: rotateZ(-45deg);
            transform-origin: left;
        }
    }

    @keyframes dash-middle-in{
        to{
            position: relative;
            left: -10px;
            opacity: 0;
        }
    }


    @keyframes dash-top-out{
        from{
            transform: rotateZ(45deg);
            transform-origin: left;
        }
        to{
            transform: rotateZ(0deg);
            transform-origin: left;
        }
    }

    @keyframes dash-bottom-out{
        from{
            transform: rotateZ(-45deg);
            transform-origin: left;
        }
        to{
            transform: rotateZ(0deg);
            transform-origin: left;
        }
    }

    @keyframes dash-middle-out{
        from{
            left: -10px;
            opacity: 0;
        }
        to{
            position: relative;
            left: 0px;
            opacity: 1;
        }
    }

    /* hamburger menu content animation */

    @keyframes slide-in{
        to{
            left: 0;
        }
    }

    @keyframes slide-out{
        from{
            left: 0;
        }
        to{
            left: 100%;
        }
    }

/* end of hamburger menun animations */




/* first content */

body{
    overflow-x: hidden;
}

#first-content h1{
    font-size: 6vw;
    margin-bottom: 28px;
    letter-spacing: -1px;
    color: #fff;
}

#first-content h3{
    color: #FFFFFF;
    font-size: 1.8vw;
}

#first-content button{
    background-color: #F9B735;
    height: 80px;
    width: 290px;
    border: none;
    font-size: 17px;
    letter-spacing: -0.5px;
    cursor: pointer;
    outline: none;
}

#first-content .text{
    position: absolute;
    top: 180px;
    margin-left: 50px;
}

#first-content button:hover{
    background-color: #16244D;
    color: #F9B735;
}





/* Steps Wizard */

#steps-summary{
    width: 100vw;
    height: 80px;
    background-color: #15234C;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    min-height: fit-content;
}

#step-one{
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
}

#step-two{
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: -75px;
}

#step-three{
    flex-grow: 1;  
    display: flex;  
    height: 100%;
    align-items: center;
    margin-left: -75px;
}

#step-four{
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: -75px;
}

#step-five{
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: -75px;
}

.circle{
    border: 2px solid #FFFFFF;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    margin-left: 50px;
}

.number{
    color: black;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 720;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-text{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 750;
    width: fit-content;
    margin-left: 30px;
    height: fit-content;
}

#step-one::after{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border: 0.1px solid #444F70;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(45deg);
    left: -25px;
    position: relative;
}

#step-two::after{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border: 0.1px solid #444F70;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(45deg);
    left: -25px;
    position: relative;
}

#step-three::after{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border: 0.1px solid #444F70;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(45deg);
    left: -25px;
    position: relative;
}

#step-four::after{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border: 0.1px solid #444F70;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(45deg);
    left: -25px;
    position: relative;
}





/* make first content and setup summary RESPONSIVE */

@media (max-width: 786px){

    #first-content button{
        height: 60px;
        width: 240px;
        border: none;
        font-size: 14px;
        letter-spacing: -0.5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #first-content {
        background-size: 150% 100%;
    }

    #first-content::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        background: linear-gradient( rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.692));
    }

    #first-content .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        z-index: 2;
    }

    br{
        content:' ';
    }
    
    br:after{
        content:' ';
    }



    #steps-summary{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }

    #steps-summary > div{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #steps-summary >div:nth-child(1), #steps-summary >div:nth-child(3){
        border-bottom: 1px solid #444F70;
        border-right: 1px solid #444F70;
    }

    #steps-summary >div:nth-child(2), #steps-summary >div:nth-child(4)
        , #steps-summary >div:nth-child(5){
        border-bottom: 1px solid #444F70;
    }


    #step-one{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 0;
        padding-top: 10px;
    }

    #step-two{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 0;
        padding-top: 10px;
    }

    #step-three{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: 0;
    }

    #step-four{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: 0;
    }

    #step-five{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 0;
        justify-content: center;
    }

    #step-one::after, #step-two::after, #step-three::after
    , #step-four::after, #step-five::after {
        content: none;
    }

}


/* responsive section ends here */




/* second content */

#second-content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80vh repeat(2, 1fr);
}

#second-content .text{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#second-content h3{
    color: #15234C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -2px;
    margin-top: 5px;
    margin-bottom: 25px;
}

#second-content h4{
    color: #15234C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

#second-content p{
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.7rem;
    letter-spacing: 1.5px;
}


#statistic-one{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

#statistic-two{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 9;
}

#statistic-three{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 13;
}

#statistic-one, #statistic-two, #statistic-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: 0.7px solid lightgrey;
}

#second-content .value{
    color: #F9B735;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bolder;
}

#second-content .param{
    color: #15234C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: -1px;
}


/* web site name in the background */
#background-site-name{  
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 13;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    font-weight: bolder;
    color: #F4F5F7;
    z-index: -1;
    margin-bottom: -44px;
}



#icon-one{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#icon-two{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 7;
}

#icon-three{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 10;
}

#icon-four{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 10;
    grid-column-end: 13;
}

#icon-one, #icon-two, #icon-three , #icon-four {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #15234C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: -0.7px;
}

#second-content .circled-icon{
    color: #15234C;
    width: 80px;
    height: 80px;
    border: 2px solid #15234C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}




/* second-content responsive media queries below */

@media (max-width: 788px){

    
    #second-content{
        grid-template-rows: 40vh repeat(2, 1fr);
    }


    #second-content h3{
        font-size: 30px;
    }
    
    #second-content h4{
       margin-top: 30px;
       font-size: 13px;
    }
    
    #second-content .long-text{
       display: none;
    }

    #second-content .short-text{
        display: block !important;
        
    }

    #second-content p{
        width: 95%;
        font-size: 13px;
        line-height: 20px;
    }

    

    #second-content .value{
        font-size: 40px;
    }

    #second-content .param{
        font-size: 15px;
        font-weight: 700;
    }

    #background-site-name{
        font-size: 98px;
        position: relative;
        top: 53px;
    }


    /* icons responsive */
    #icon-one, #icon-two, #icon-three , #icon-four {
        font-weight: bolder;
        letter-spacing: -0.7px;
        font-size: 10px;
    }
    
    #second-content .circled-icon{
        width: 50px;
        height: 50px;
        margin-right: 8px;
    }

    #second-content .circled-icon:first-child{
        margin-left: 10px;
    }

    #second-content img{
        width: 20px;
        height: 20px;
    }

    #second-content br{
        display: none;
    }
    


}


/* second-content responsive ends here*/

