*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#top-script{
    width: 100vw;
    height: 40px;
    background-color: #15234C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #D5D7DF;
    font-size:  0.9rem;
}



