*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


body{
    overflow-x: visible;
}

/* Changing Header Script*/
#top-script{
    height: 40px;
    background-color: #15234C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #D5D7DF;
    font-size:  0.9rem;
}



/* Responsive Navigation Bar*/

header{
    position: static;
    width: fit-content;
}

#navigation{
    height: 70px;
    width: fit-content;
    min-height: min-content;
    background-color: #FFFFFF;
    border: 1px solid black;
}

#nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100vw;
    min-width: fit-content;
}

#nav-list li{
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-list li:first-child{
    margin-left: 50px;
}

a{
    text-decoration: none;
    color: black;
}


.left-item, .right-item{
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: bolder;
    font-stretch: condensed;
}

#nav-list .left-item:nth-child(n){
    padding: 15px;
}

.icon{
    flex-grow: 1;
}

.icon img{
    margin: auto;
    display: block;
}

#nav-list .right-item:nth-child(n){
    border: 0.5px solid rgba(167, 163, 163, 0.548);
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
}

#nav-list .right-item:nth-child(n){
    padding: 25px;
}

.create-card{
    background-color: #F9B735;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
}

.create-card:hover{
    background-color: #15234C;
    color: #F9B735;
}

.fa-user, .fa-shopping-cart{
    font-size: 17px;
}

#flag img, .flags-drop-menu img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#flag-after{
    content:  '';
    display: block;
    width: 6.5px;
    height: 6.5px;
    border: 1.3px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotateZ(45deg);
    margin-left: 13px;
}

#nav-list li:hover{
    cursor: pointer;
}

.icon img:hover{
    cursor: pointer;
}

.icon{
    cursor: default !important;
}

.left-item:hover{
    text-decoration: underline;
}



/* flag drop down */

#flag{
    position: relative;
}

#flags-drop-down{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    justify-content: center;
    left: -0.5px;
}

#flags-drop-down div:nth-child(n){
    padding: 34.6px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: 0.5px solid rgba(167, 163, 163, 0.548);
}

#flags-drop-down div:nth-child(n):hover{
    background-color: #F8F9FA;
}




/* animate hader as fade in on page load */
header{
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* fade in animation ends here */




/* handle the contents of the page */

#first-content{
    background-image: url(//cdn.shopify.com/s/files/1/2412/8291/files/home-top-banner-bg_83b39adc-d83d-448a-abfc-d1c2809541e7.jpg?v=1582201084);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-position: top  center;
    width: 100vw;
    height: 100vh;
}



